.side-bar {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.side-bar__button__div {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin: 20px;
  padding: 10px 61px 10px 62px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background-color: #b3d6ff;
  height: 36px;
}

.side-bar__plus {
  color: #0079ff;
  font-size: 13px;
  font-weight: 500;
}
.side-bar__newfolder__span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  color: #0079ff;
}

.side-bar__select-files{
  display: grid;
  gap: 4px;
}

.side-bar__item-div-active{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #FAFCFF;
  padding-right: 10px;
  gap: 10px;
}

.side-bar__item-div{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #ffff;
  padding-right: 10px;
  gap: 10px;
}

.side-bar__item-image-text{
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-bar__item-div-selector{
  width: 6px;
  height: 100%;
  background: #5585FF;
  border-radius: 9px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: translateX(-30%);
}
.side-bar__item-div-inactive{
  width: 6px;
  height: 30px;
}

.side-bar__item-div-child {
  display: flex;
  align-items: center;
  gap: 15px;
}
.side-bar__item-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #109cf1;
  letter-spacing: 0.01em;
}

.side-bar__item-div-active button{
  border: none;
  background-color: rgba(179, 214, 255, 0.3);
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #67768f;
}

.side-bar__item-div button {
  border: none;
  background-color: rgba(179, 214, 255, 0.3);
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #67768f;
}

.help-n-support p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 5px 20px;
    color: #334D6e;
}
.side_nav_divider{
  background-color: #ebeff2;
  height: 1px;
  width: 100%;
}