body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: grid;
  grid-template:
    "header header" 44px
    "side-bar  sub-navbar" 34px
    "side-bar  main" auto /
    256px 1fr;
    background-color: #F5F6F8;
}

header{
  grid-area: header;
}
.side-bar{
  grid-area: side-bar;
}
.sub-navbar{
  grid-area: sub-navbar;
}
main{
  grid-area: main;
}
